venv
venv/
/venv
env
.env
/env
env/
backend/database/chats_database/.env
backend/database/chats_database/.env
backend/database/.env
backend/database/.env
backend/database/state_database/.env

backend/database/sale_database/.env
frontend/new_bot_remake/keys.py
backend/tests/.env
backend/database/ai_choose_database/.env